
/*Commande.html :*/
.text-center {
    color: #d77872;
}

.btn-lg{
    margin: 5px;
    background-color: #ff9a92;
    border: none;
}

.btn-lg:hover {
    background-color: #ff8077;
    transform: scale(1.05);
    transition: 0.3s;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.mt{
    width: 900px;
}
.radio-container {
    display: flex;
    gap: 15px; 
}

.radio-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.radio-label input {
    display: none; /* hide the org one*/
}

.custom-radio {
    width: 18px;
    height: 18px;
    border: 2px solid #ffa6a6;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    position: relative;
}

.radio-label input:checked + .custom-radio {
    background-color:  #d77872;
    border-color: #d77872;
}
